.elementor-2563 .elementor-element.elementor-element-d0c0c8d > .elementor-container{max-width:800px;min-height:100vh;}.elementor-2563 .elementor-element.elementor-element-d0c0c8d{padding:80px 10px 80px 10px;}.elementor-bc-flex-widget .elementor-2563 .elementor-element.elementor-element-c379f6a.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2563 .elementor-element.elementor-element-c379f6a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2563 .elementor-element.elementor-element-c379f6a.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2563 .elementor-element.elementor-element-c763e11{padding:0px 0px 45px 0px;}.elementor-bc-flex-widget .elementor-2563 .elementor-element.elementor-element-c786d27.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2563 .elementor-element.elementor-element-c786d27.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2563 .elementor-element.elementor-element-c786d27.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2563 .elementor-element.elementor-element-c786d27 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-2563 .elementor-element.elementor-element-caa1688{text-align:left;}.elementor-2563 .elementor-element.elementor-element-caa1688 img{max-width:103px;height:46px;object-fit:contain;object-position:center center;}.elementor-2563 .elementor-element.elementor-element-63bca05{text-align:left;}.elementor-2563 .elementor-element.elementor-element-63bca05 img{width:212px;height:47px;object-fit:contain;object-position:center center;}.elementor-2563 .elementor-element.elementor-element-0d019f2 > .elementor-container{max-width:530px;}.elementor-2563 .elementor-element.elementor-element-1f6d88e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-element-populated{border-style:solid;border-width:1px 0px 0px 0px;border-color:#DEDEDE;box-shadow:0px 4px 16px 0px rgba(0, 0, 0, 0.050980392156862744);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-element-populated, .elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-element-populated > .elementor-background-overlay, .elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-background-slideshow{border-radius:4px 4px 4px 4px;}.elementor-2563 .elementor-element.elementor-element-1f6d88e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2563 .elementor-element.elementor-element-fd1839e > .elementor-widget-container{padding:30px 30px 30px 30px;background-color:#FFFFFF;}.elementor-2563 .elementor-element.elementor-element-0414af8 .elementor-icon-wrapper{text-align:center;}.elementor-2563 .elementor-element.elementor-element-0414af8.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-2563 .elementor-element.elementor-element-0414af8.elementor-view-framed .elementor-icon, .elementor-2563 .elementor-element.elementor-element-0414af8.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-2563 .elementor-element.elementor-element-0414af8.elementor-view-framed .elementor-icon, .elementor-2563 .elementor-element.elementor-element-0414af8.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-2563 .elementor-element.elementor-element-0414af8 .elementor-icon{font-size:0px;}.elementor-2563 .elementor-element.elementor-element-0414af8 .elementor-icon svg{height:0px;}body.elementor-page-2563:not(.elementor-motion-effects-element-type-background), body.elementor-page-2563 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F9F9F9;}@media(max-width:1024px){.elementor-bc-flex-widget .elementor-2563 .elementor-element.elementor-element-c786d27.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2563 .elementor-element.elementor-element-c786d27.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2563 .elementor-element.elementor-element-caa1688 img{max-width:76px;}}@media(min-width:768px){.elementor-2563 .elementor-element.elementor-element-cf1ebb7{width:25.254%;}.elementor-2563 .elementor-element.elementor-element-c786d27{width:44.037%;}.elementor-2563 .elementor-element.elementor-element-3884f5d{width:30%;}}@media(max-width:1024px) and (min-width:768px){.elementor-2563 .elementor-element.elementor-element-c786d27{width:30%;}}@media(max-width:767px){.elementor-2563 .elementor-element.elementor-element-c786d27{width:80%;}}/* Start custom CSS for image, class: .elementor-element-caa1688 */.elementor-2563 .elementor-element.elementor-element-caa1688{
    flex: 0;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-82895d1 */.elementor-2563 .elementor-element.elementor-element-82895d1{
    flex: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c786d27 */.elementor-2563 .elementor-element.elementor-element-c786d27 .elementor-widget-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.elementor-2563 .elementor-element.elementor-element-c786d27 .logo-divider{
    height: 100%;
    width: 5px;
    background: #DEDEDE;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-fd1839e */.elementor-2563 .elementor-element.elementor-element-fd1839e div > .um-field-block:after{
    content: "RESET YOUR PASSWORD";
    visibility: visible;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #474343;
    display: inline-block;
    margin-bottom: 13px;
}

.elementor-2563 .elementor-element.elementor-element-fd1839e div > .um-field-block > div{
    visibility: hidden;
    display: none;
}

.elementor-2563 .elementor-element.elementor-element-fd1839e .um-field-area:before{
    content: "Enter your username or E-mail";
    display: block;
    width: 100%;
    float: left;
}

.elementor-2563 .elementor-element.elementor-element-fd1839e #um-submit-btn{
    background: #B40101;
    width: 100% !important;
    text-align: left;
}

.elementor-2563 .elementor-element.elementor-element-fd1839e .um-center{
    position: relative;
}

.elementor-2563 .elementor-element.elementor-element-fd1839e .um-center:after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}/* End custom CSS */